body,td,th {
	font-family: tahoma;
	font-size: 11px;
	color: #414141;
}
body {
	background-color: #414141;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.style1 {color: #ffffff}
a {
	font-size: 11px;
	color: #ffffff;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.style2 {color: #005083;}
.style3 {color: #B7B7B7}
.style4 {color: #000000}
.style5 {
	color: #005083;
	align: right;
}

.pageTitle {
	color: #b91111;
	font-size: 20px;
	font-family: tahoma;
}

.bannerTitle {
	color: #ffffff;
	font-size: 25px;
	font-family: tahoma;
	font-style: italic;
	position:absolute;
	left:361px;
	top:43px;
}

.bannerSubTitle {
	color: #ffffff;
	font-size: 14px;
	font-family: tahoma;
	position:absolute;
	left:361px;
	top:77px;
}